.manage {
  &-viewer {
    &-course {
      display: flex;
      justify-content: space-between;
      gap: 0 0.5em;
      background: $base_dark_color;
      font-weight: bold;
      padding: 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.3);
      
      &.dragging {
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
      }
      
      &-name {
        flex: 1;
      }
      
      &-placeholder {
        background: $base_shadow_color;
        border: 1px dotted rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 2.5em;
        visibility: visible;
        box-sizing: border-box;
      }
      
      &-empty {
        padding: 0.5em 0;
        background: $base_block_color;
        text-align: center;
      }
    }
    
    &-controller {
      &.controller-course {
        background: $base_focus_color;
      }
    }
    
    &-button {
      &.button-course {
        background: $base_focus_color;
        color: #FFF;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        
        &:before {
          background-color: #FFF;
        }
      }
    }
  }
  
  &-editor {
    &-freemenus {
      position: relative;
      
      .select2-container {
        top: auto !important;
        bottom: 0 !important;
      }
      
      &-selection {
        border: none !important;
        background: transparent !important;
        padding: 0 !important;
        
        .select2-selection__choice {
          background-color: $base_dark_color !important;
          line-height: 1.5em !important;
          max-width: 12ch !important;
          padding-left: 1.8rem !important;
          padding-right: 0.3em !important;
          margin-left: 0 !important;
          margin-right: 0.5em !important;
          margin-top: 0.5em !important;
          border: 1px solid rgba(0,0,0,0.3) !important;
          
          &__remove {
            width: 1.5em !important;
            height: 1.5em !important;
            border-right: 1px solid rgba(0,0,0,0.3) !important;
            color: $base_font_color !important;
            
            &:hover {
              background-color: $base_focus_color !important;
              color: #FFF !important;
            }
            
            &:foucs {
              background-color: $base_focus_color !important;
              color: #FFF !important;
            }
          }
        }
        
        .select2-search {
          display: block;
          margin-top: 0.5em;
          width: 100%;
          outline: 1px solid $base_font_color;
          border: 0;
          background: #FFF;
          border-radius: 5px;
          box-shadow: inset rgba(255,255,255,0.25) 0px 1px 0px, 
                      inset rgba(0,0,0,0.25) 0px 0px 0px, 
                      inset rgba(255,255,255,0.03) 0px 2px 0px, 
                      inset rgba(0,0,0,0.15) 0px -2px 2px, 
                      inset rgba(255,255,255,0.05) 0px 2px 2px;
          
          @include mq(pc) {
            font-size: rempc(14);
            padding: rempc(8) rempc(10);
          }
          
          @include mq(sp) {
            font-size: remsp(12);
            padding: remsp(8) remsp(10);
          }
          
          textarea {
            margin: 0 !important;
          }
        }
      }
    }
  }
  
  &-addcourse {
    background: $blue_color;
  }
}