.reset-password {
  &-section {
    width: 60%;
    
    @include mq(pc) {
      max-width: rempc(500);
      margin: 0 auto rempc(50);
    }
    
    @include mq(sp) {
      max-width: remsp(450);
      margin: 0 auto remsp(30);
    }
  }
  
  &-complete {
    text-align: center;
    display: none;
    margin: 0 auto;
    
    @include mq(pc) {
      padding: rempc(25) 0;
    }
    
    @include mq(sp) {
      padding: remsp(10) 0;
    }
    
    p {
      line-height: 1.5rem;
    }
  }
  
  &-login {
    text-align: center;
    
    @include mq(pc) {
      font-size: rempc(14);
      margin-top: rempc(10);
    }
    
    @include mq(sp) {
      font-size: remsp(12);
      margin-top: remsp(8);
    }
    
    a {
      text-decoration: underline;
    }
  }
}