$base_back_color: #F5F5DC;
$base_focus_color: #FF8C00;
$base_light_color: #FFECCC;
$base_block_color: #FFE4B5;
$base_dark_color: #FFC766;
$base_font_color: #333333;
$base_link_color: #FF8C00;
$base_shadow_color: #D2B48C;

$green_color: #228B22;
$red_color: #DC143C;
$blue_color: #6495ED;
$dark_grey_color: #808080;
$grey_color: #AAAAAA;
$light_grey_color: #DDDDDD;
$purple_color: #9400D3;
$gold_color: #FFD700;
$silver_color: #C0C0C0;
$copper_color: #B87333;

$max_body_width_pc: 1500px;

$header_height_pc: 0;
$header_height_sp: 0;

$base_padding_pc: 50px;
$base_padding_sp: 20px;


$input_error_back_color: #FFCCCC;
$input_error_focus_color: #DC143C;